.idea
LOCALIZACAO-30.png
LOCALIZACAO-100.png
NOTA_LP-30.png
NOTA_LP-100.png
NOTA_MT-30.png
NOTA_MT-100.png
SEXO-30.png
SEXO-100.png
LP_ADM.png
MT_LOC.png
temp.R
Artigo/MT_X_REGIAO.png
MT_X_REGIAO.png
LP_X_TELAS.png
Artigo/MT_X_SEXO.png
MT_RACA.png